body {
    background: #BDC3C7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-card {
    background: white;
    display: flex; /* THIS MAKES IT SIDE-BY-SIDE */
    width: 900px;
    height: 550px;
    border-radius: 30px;
    box-shadow: 0 30px 60px rgba(0,0,0,0.2);
    overflow: hidden;
}

/* LEFT SIDE: Mascot Area */
.mascot-container {
    background: #DDE1E3;
    flex: 1; /* Takes 50% width */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 60px;
}

.character {
    width: 90px;
    margin: 0 -10px;
    animation: jump 2s infinite ease-in-out;
}
.pink { width: 140px; z-index: 10; }

@keyframes jump {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-30px); }
}

#char-1 { animation-delay: 0.1s; }
#char-2 { animation-delay: 0.3s; }
#char-3 { animation-delay: 0.5s; }

@keyframes blink{
	0%,90%,100%{transform: scaleY(1);}
	95% { transform: scaleY(0);}/* this creates the eyelid shut */
}
.pupil{
	animation: blink 4s infinite;
	transform-origin: center;
}

/* RIGHT SIDE: Form Area */
.form-section {
    flex: 1; /* Takes 50% width */
    padding: 60px;
    display: flex;
    flex-direction: column;
}

input, .google-btn, .login-btn {
    width: 100%;
    padding: 14px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
}
.character{
	transition: transform 0.2s ease-out;
}

.login-btn { background: #000; color: white; cursor: pointer; }

.google-btn {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.divider { text-align: center; margin: 10px 0; color: #999; font-size: 12px; }